@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body{
    background-color: #eed6bf;
   background: linear-gradient(#deadb0, #666ea1);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

h1{
    text-align: center;
    /*background: linear-gradient(
        to left, #deadb0, #666ea1 );/*#faa7b8, #6096fd
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;*/
    color: #efddd3;
    font-size: 50px;
    
}

.inst{
    font-family: 'Parisienne';
    color: #efddd3;
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

#list{
    color: #efddd3;
    margin-bottom: 40px;
}

#list p{
    margin: 5px;
}

.scores{
    display: flex;
    margin: auto;
    justify-content:center ;
    text-align: center;
    color: #efddd3;
    font-size: 20px;
}

.scores hr{
    color: #efddd3;
    margin: 20px;
}
.yourScore{
    margin-right: 0px;
    
}

#result{
    text-align: center;
    color: #efddd3;
    font-size: 50px;
    margin: 10px;
    height: 60px;
}

#playAgain{
    text-align: center;
    color: #efddd3;
    font-size: 30px;
    margin: 10px;
    height: 60px;
}

.images{
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}

#replayButton{
    display: flex;
    justify-content: center;
}

#replayButton button{
    background-color: #efddd3;
    height: 40px;
    width: 150px;
    border: #eed6bf;
    border-radius: 4px;
}

